@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}

body{
    background-color: rgb(24,174,24);
}

.game{
    width: 100%;
    height: 100vh;
    border-bottom: 100px solid rgb(24,174,24);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    display: grid;
    grid-template-columns: auto 50% auto;  
}

.texto{
    position: absolute;
    margin: 8%;
    text-align: center;
    z-index: 0;
    margin-top: 10%; 
    line-height: 170%;  
}


@keyframes night{
    0% {
        background: linear-gradient(#87CEEB, #E0F6FF);
    }
    100%{
        background: linear-gradient(#375f70, #b0c6cf);
    }
}

#points{
    display: flex;
    margin: 10px;
    color: rgb(51, 42, 42);
    border-radius: 15px;
    justify-content: center;
    background-color: gold;
    padding: 7px;
    font-size: 15px;
    position: absolute;
    width: 200px;
    height: 30px;
    /*border: 1px solid black;*/
}

.cloud-game{
    width: 500px;
    position: absolute;
    animation: cloud-animation 40s infinite linear;
}

.mountain{
    position: absolute;
    z-index: 0;
    width: 2740px;
    bottom: -25px;
    height: 60vh;
    right: -2740px;
}

.mountains{
    animation: mountain 80s ease forwards;
}

@keyframes mountain {
    from{
        right: -2740px;
    }
    to{
        right: 100%;
    }
}

@keyframes cloud-animation{
    from{
        right: -500px;
    }
    to{
        right: 100%;
    }
}

.super-mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#start, #reset{
    grid-area: area2;
    z-index: 3;
    font-size: 10x;
    background-color: gold;
    box-shadow: 0 0 20px gray;
    margin: auto auto 90px auto;
    width: 130px;
    height: 50px;
    border-radius: 10px;
}

.colorbox{
    width: 100%;
    border-radius: 20px;
    position: absolute;
    background-color: white;
    height: 100%;
    opacity: .3;
    z-index: 0;
}

.bowser{
    position: absolute;
    z-index: 3;
    width: 300px;
    right: -250px;
    bottom: -15px;
}

.bowserA{
    animation: bowserA 2s;
}

@keyframes bowserA {
    0%{
        right: -250px;
        bottom: -15px;
    }
    10%{
        right:  0px;
        bottom: -15px;
    }
    20%{
        right:  0px;
        bottom: -15px;
    }
    30%{
        right:  0px;
        bottom: -15px;
    }
    40%{
        right:  0px;
        bottom: -15px;
    }
    50%{
        right:  0px;
        bottom: 50px;
    }
    60%{
        right:  0px;
        bottom: -15px;
    }
    70%{
        right:  0px;
        bottom: 50px;
    }
    80%{
        right:  0px;
        bottom: -15px;
    }
    90%{
        right:  30px;
        bottom: 50px;
    }
    100%{
        right: -250px;
        bottom: -15px;
    }
}

.bowser2{
position: absolute;
    z-index: 3;
    width: 250px;
    right: -250px;
    bottom: -2%;
}

.bowser2Fire{
    animation: bowser2Fire 2.5s linear;
}

@keyframes bowser2Fire{
    0%{
        bottom: 0%;
        right: -150px;
    }
    30%{
        right: -100px;
        bottom: 10%;
    }
    45%{
        right: -30px;
        bottom: 9%;
    }
    50%{
        right: -10px;
        bottom: -2%;
    }
    88%{
        right: -10px;
        bottom: -2%;
    }
    90%{
        right: 10px;
        bottom: -2%;
    }
    100%{
        right: -250px;
        bottom: -2%;
    }
}


.fireBall{
    transform: scale(-1);
    width: 110px;
    position: absolute;
    bottom: 8%;
    right: -120px;
    z-index: 1;
}

.fireBallDown{
    animation: fireBallDown 3s linear;
}

@keyframes fireBallDown{
    0%{
        right: 15%;
        bottom: 10%;
    }
    20%{
        right: 20%;
        bottom: 10%;
    }
    40%{
        right: 42%;
        bottom: 15%;
    }
    60%{
        right: 65%;
        bottom: 0%;
    }
    80%{
        right: 88%;
        bottom: 0%;
    }
    100%{
        right: 110%;
        bottom: 0%;
    }
}

.fireBallUp{
    animation: fireBallUp 3s linear;
}

@keyframes fireBallUp{
    0%{
        right: 15%;
        bottom: 10%;
    }
    20%{
        right: 20%;
        bottom: 10%;
    }
    40%{
        right: 42%;
        bottom: 15%;
    }
    60%{
        right: 65%;
        bottom: 8%;
    }
    80%{
        right: 88%;
        bottom: 8%;
    }
    100%{
        right: 110%;
        bottom: 8%;
    }
}

.hammer{
    position: absolute;
    z-index: 2;
    width: 120px;
    right: -200px;
    bottom: 15px;
    
}

.hammerR{
    animation: hammerR 3.5s linear;
}

@keyframes hammerR{
    0%{
        right: 10%;
        bottom: 22%;
        transform: rotate(0deg);
    }
    12.5%{
        right: 15%;
        bottom: 55%;
        transform: rotate(-360deg);
    }
    25%{
        right: 20%;
        bottom: 40%;
        transform: rotate(-720deg);
    }
    37.5%{
        right: 30%;
        bottom: 20%;
        transform: rotate(-1080deg);
    }
    50%{
        right: 30%;
        bottom: 0%;
        transform: rotate(-1440deg);
    }
    62.5%{
        right: 30%;
        bottom: -2%;
        transform: rotate(-1800deg);
    }
    75%{
        right: 60%;
        bottom: -2%;
        transform: rotate(-2160deg);
    }
    87.5%{
        right: 85%;
        bottom: -2%;
        transform: rotate(-2520deg);
    }
    100%{
        right: 110%;
        bottom: -2%;
        transform: rotate(-2880deg);
    }
}

.bullet{
    position: absolute;
    width: 130px;
    bottom: 70px;
    right: -130px;
    z-index: 2;
}


.bulletNormal{
    animation: bullet-animation 1.8s infinite linear;
}

.bulletDie{
    animation: bulletDie 1.8s forwards;
}



#buttons{
    padding-top: 20px;
    border-radius: 20px;
    margin-top: 70px;
    width: 100%;
    height: 250px;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-areas: 'area1 area1'
                        'area2 area2';
    position: absolute;
    border: 1px solid black;
}

.title{
    margin: auto;
    grid-area: area1;
    font-size: 20px;
    z-index: 1;
    word-spacing: -9px;
    letter-spacing: -1px;
}

#start{
    z-index: 3;
}

#reset{
    z-index: 2;
}

.mario-jump {
    animation: mario-animation 900ms ease-out;
}

.mario-jump2 {
    animation: mario-animation2 900ms ease-out;
}


@keyframes mario-animation {
    0%{
        bottom: 0%;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0%;
    }
}

@keyframes mario-animation2 {
    0%{
        bottom: 110px;
    }
    50%{
        bottom: 300px;
    }
    60%{
        bottom: 300px;
    }
    100%{
        bottom: 0%;
    }
}

.mario-dies {
    animation: mario-die 1s ease-out;
}

@keyframes mario-die {
    0%{
        bottom: 50px;
    }
    50%{
        bottom: 300px;
    }
    100%{
        bottom: 0px;
    }
}

.marioFinish{
    animation: marioFinish 4s linear forwards;
}

@keyframes marioFinish{
    0%{
        left: 10px;
    }
    90%{
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    100%{
        left: 95%;
        opacity: 0;
    }
}

.marioPrincess{
    position: absolute;
    width: 250px;
    bottom: -5px;
    right: 30px;
    z-index: 2;
    opacity: 0;
}

.marioPrincessEnd{
    animation: marioPrincessEnd 2s forwards;
}

@keyframes marioPrincessEnd{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.end{
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.endAppear{
    animation: endAppear 3s ease;
}

@keyframes endAppear{
    0%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.pipe-game{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    z-index: 2;
}

.castle{
    position: absolute;
    height: 700px;
    bottom: 0;
    right: -420px;
}

.castleCome{
    animation: castleCome 10s linear forwards;
}

@keyframes castleCome {
    from{
        right: -420px;
    }
    to{
        right: 0px;
    }
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes bulletDie {
    0%{
        left: 60px;
        bottom: 100px;
    }
    20%{
        left: 90px;
        bottom: 110px;
    }
    100%{
        left: 100px;
        bottom: -200px;
    }
}

@keyframes bullet-animation{
    from{
        right: -130px;
    }
    to{
        right: 100%;
    }
}

@media only screen and (max-width: 800px){
    .super-mario{
        width: 75px;
    }

    .cloud-game{
        width: 250px;
    }

    .game{
        border-bottom: 50px solid rgb(24,174,24);
    }

    .pipe-game{
        width: 45px;
    }

    .bullet{
        width: 70px;
    }

    .bowser{
        width: 180px;
    }

    .bowser2{
        width: 150px;
    }

    .fireBall{
        width: 70px;
    }

    .hammer{
        width: 70px;
    }

    .castle{
        height: 350px;
        right: -220px;
    }

    @keyframes castleCome {
        from{
            right: -220px;
        }
        to{
            right: 0px;
        }
    }

    

    @keyframes cloud-animation{
        from{
            right: -240px;
        }
        to{
            right: 100%;
        }
    }
}
