@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}

body{
    background-color: rgb(24,174,24);
}

.game{
    width: 100%;
    height: 100vh;
    border-bottom: 100px solid rgb(24,174,24);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    display: grid;
    grid-template-columns: auto 50% auto;  
}

#points{
    display: flex;
    padding: 7px;
    font-size: 15px;
    position: absolute;
    width: 180px;
    height: 30px;
    border: 1px solid black;
}

.cloud-game{
    width: 500px;
    position: absolute;
    animation: cloud-animation 20s infinite linear;
}

@keyframes cloud-animation{
    from{
        right: -500px;
    }
    to{
        right: 100%;
    }
}

.super-mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

#start, #reset{
    grid-area: area2;
    z-index: 1;
    font-size: 10x;
    background-color: gold;
    box-shadow: 0 0 20px gray;
    margin: auto;
    width: 130px;
    height: 50px;
    border-radius: 10px;
}

.colorbox{
    width: 100%;
    position: absolute;
    background-color: white;
    height: 100%;
    opacity: .3;
    z-index: 0;
}

#buttons{
    padding-top: 20px;
    margin-top: 100px;
    width: 100%;
    height: 300px;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-areas: 'area1 area1'
                        'area2 area2';
    position: absolute;
    border: 1px solid black;
}

.title{
    margin: auto;
    grid-area: area1;
    font-size: 20px;
    z-index: 1;
    word-spacing: -9px;
    letter-spacing: -1px;
}

#start{
    z-index: 3;
}

#reset{
    z-index: 2;
}

.mario-jump {
    animation: mario-animation 750ms ease-out;
}

@keyframes mario-animation {
    0%{
        bottom: 0%;
    }
    30%{
        bottom: 160px;
    }
    50%{
        bottom: 160px;
    }
    70%{
        bottom: 160px;
    }
    100%{
        bottom: 0%;
    }
}

.mario-dies {
    animation: mario-die 1s ease-out;
}

@keyframes mario-die {
    0%{
        bottom: 50px;
    }
    50%{
        bottom: 300px;
    }
    100%{
        bottom: 0px;
    }
}

.pipe-game{
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@media only screen and (max-width: 800px){
    .super-mario{
        width: 75px;
    }

    .cloud-game{
        width: 250px;
    }

    .game{
        border-bottom: 50px solid rgb(24,174,24);
    }

    .pipe-game{
        width: 40px;
    }

    @keyframes cloud-animation{
        from{
            right: -240px;
        }
        to{
            right: 100%;
        }
    }
}
