@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}

body{
    background-color: rgb(24,174,24);
}

.game{
    width: 100%;
    height: 100vh;
    border-bottom: 100px solid rgb(24,174,24);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    display: grid;
    grid-template-columns: auto 50% auto;  
}

@keyframes night{
    0% {
        background: linear-gradient(#87CEEB, #E0F6FF);
    }
    100%{
        background: linear-gradient(#375f70, #b0c6cf);
    }
}

#points{
    display: flex;
    padding: 7px;
    font-size: 15px;
    position: absolute;
    width: 250px;
    height: 30px;
    /*border: 1px solid black;*/
}

.cloud-game{
    width: 500px;
    position: absolute;
    animation: cloud-animation 20s infinite linear;
}

@keyframes cloud-animation{
    from{
        right: -500px;
    }
    to{
        right: 100%;
    }
}

.super-mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

#start, #reset{
    grid-area: area2;
    z-index: 1;
    font-size: 10x;
    background-color: gold;
    box-shadow: 0 0 20px gray;
    margin: auto;
    width: 130px;
    height: 50px;
    border-radius: 10px;
}

.colorbox{
    width: 100%;
    position: absolute;
    background-color: white;
    height: 100%;
    opacity: .3;
    z-index: 0;
}

.bowser{
    position: absolute;
    z-index: 3;
    width: 300px;
    right: -250px;
    bottom: -15px;
}

.bowserA{
    animation: bowserA 2s;
}

@keyframes bowserA {
    0%{
        right: -250px;
        bottom: -15px;
    }
    10%{
        right:  0px;
        bottom: -15px;
    }
    20%{
        right:  0px;
        bottom: -15px;
    }
    30%{
        right:  0px;
        bottom: -15px;
    }
    40%{
        right:  0px;
        bottom: -15px;
    }
    50%{
        right:  0px;
        bottom: 50px;
    }
    60%{
        right:  0px;
        bottom: -15px;
    }
    70%{
        right:  0px;
        bottom: 50px;
    }
    80%{
        right:  0px;
        bottom: -15px;
    }
    90%{
        right:  30px;
        bottom: 50px;
    }
    100%{
        right: -250px;
        bottom: -15px;
    }
}

.hammer{
    position: absolute;
    z-index: 2;
    width: 120px;
    right: -200px;
    bottom: 15px;
    
}

.hammerR{
    animation: hammerR 3.5s linear;
}

@keyframes hammerR{
    0%{
        right: 10%;
        bottom: 22%;
        transform: rotate(0deg);
    }
    12.5%{
        right: 15%;
        bottom: 55%;
        transform: rotate(-360deg);
    }
    25%{
        right: 20%;
        bottom: 40%;
        transform: rotate(-720deg);
    }
    37.5%{
        right: 30%;
        bottom: 20%;
        transform: rotate(-1080deg);
    }
    50%{
        right: 30%;
        bottom: 0%;
        transform: rotate(-1440deg);
    }
    62.5%{
        right: 30%;
        bottom: -2%;
        transform: rotate(-1800deg);
    }
    75%{
        right: 60%;
        bottom: -2%;
        transform: rotate(-2160deg);
    }
    87.5%{
        right: 85%;
        bottom: -2%;
        transform: rotate(-2520deg);
    }
    100%{
        right: 110%;
        bottom: -2%;
        transform: rotate(-2880deg);
    }
}

.bullet{
    position: absolute;
    width: 130px;
    bottom: 70px;
    right: -130px;
}

.bulletDie{
    animation: bulletDie 750ms ease-out;
}

.bulletNormal{
    animation: bullet-animation 2.8s infinite linear;
}

@keyframes bulletDie {
    0%{ 
        left: 50px;
        bottom: 100px;
    }
    50%{
        bottom: 150px;
    }
    100%{
        bottom: -100px;
    }

}

#buttons{
    padding-top: 20px;
    margin-top: 100px;
    width: 100%;
    height: 300px;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-areas: 'area1 area1'
                        'area2 area2';
    position: absolute;
    border: 1px solid black;
}

.title{
    margin: auto;
    grid-area: area1;
    font-size: 20px;
    z-index: 1;
    word-spacing: -9px;
    letter-spacing: -1px;
}

#start{
    z-index: 3;
}

#reset{
    z-index: 2;
}

.mario-jump {
    animation: mario-animation 900ms ease-out;
}

.mario-jump2 {
    animation: mario-animation2 900ms ease-out;
}


@keyframes mario-animation {
    0%{
        bottom: 0%;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0%;
    }
}

@keyframes mario-animation2 {
    0%{
        bottom: 110px;
    }
    50%{
        bottom: 300px;
    }
    60%{
        bottom: 300px;
    }
    100%{
        bottom: 0%;
    }
}

.mario-dies {
    animation: mario-die 1s ease-out;
}

@keyframes mario-die {
    0%{
        bottom: 50px;
    }
    50%{
        bottom: 300px;
    }
    100%{
        bottom: 0px;
    }
}

.pipe-game{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes bullet-animation{
    from{
        right: -130px;
    }
    to{
        right: 100%;
    }
}

@media only screen and (max-width: 800px){
    .super-mario{
        width: 75px;
    }

    .cloud-game{
        width: 250px;
    }

    .game{
        border-bottom: 50px solid rgb(24,174,24);
    }

    .pipe-game{
        width: 45px;
    }

    .bullet{
        width: 70px;
    }

    .bowser{
        width: 180px;
    }

    .hammer{
        width: 70px;
    }

    @keyframes cloud-animation{
        from{
            right: -240px;
        }
        to{
            right: 100%;
        }
    }
}
